.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColor;
    width: 100%;
    height: 100vh;
    
    @include desktop {    
    }
    
    @include tablet {    
    }
    
    @include phone {    

    }
}

.search-field {
    display: inline-flex;

    button {
        display: inline-flex;
        align-items: center;
        color: $backgroundColor;
        background-color: white;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;
        box-shadow: none;
        margin-right: 2px;

        &:hover  {
            cursor: pointer;
        }
    };

    input {
        display: inline-flex;
        width: 100%;
        color: $backgroundColor;
        border: 3px solid white;
        border-radius: 5px;
        // box-shadow: none;
        &:focus  {
            outline: none;
            border: 3px solid rgb(204,204,204);
        }

        &::placeholder {
            color: $backgroundColor;
        }

    };
    
    @include desktop {
        width: 400px;

        button {
            font-size: $desktop-font-size * 0.7;
            padding: $desktop-font-size * 0.15 $desktop-font-size * 0.3;
        }    
        input {
            font-size: $desktop-font-size * 0.7;
            padding: $desktop-font-size * 0.15 $desktop-font-size * 0.2;
        }    
    }
    
    @include tablet {
        width: 300px;

        button {
            font-size: $tablet-font-size * 0.7;
            padding: $tablet-font-size * 0.15 $tablet-font-size * 0.3;
        }    
    }
    
    @include phone {
        width: 250px;

        button {
            font-size: $phone-font-size * 0.7;
            padding: $phone-font-size * 0.15 $phone-font-size * 0.3;
        }  
    }
}