@mixin phone {
    font-size: $phone-font-size;

    @media (max-width: $tablet-width - 1px) {
        @content;
    }
}

@mixin tablet {
    font-size: $tablet-font-size;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content;
    }
}

@mixin desktop {
    font-size: $desktop-font-size;

    @media (min-width: $desktop-width) {
        @content;
    }
}

// SET A REM FONT SIZE WITH PIXEL FALLBACK
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }
  
  @mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}