// Imports
@import './mixins';
@import './variables';

// UNIVERSAL COMPONENTS
@import './Title';

// HOME PAGE
@import './HomePage';

// RESULT PAGE
@import './ResultPageElements/SpinnerElement';
@import './ResultPageElements/WordElement';
@import './ResultPageElements/PhoneticsElement';
@import './ResultPageElements/MeaningsElement';
@import './ResultPage';

@mixin phone {
    font-size: $phone-font-size;

    @media (max-width: $tablet-width - 1px) {
        @content;
    }
}

@mixin tablet {
    font-size: $tablet-font-size;

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
        @content;
    }
}

@mixin desktop {
    font-size: $desktop-font-size;

    @media (min-width: $desktop-width) {
        @content;
    }
}

